html, body {
  height: 100%;
  background: #F7F7F7;
  font: georgia;
  color: #3F3F3F;
}

.container-fluid {
  padding: 5%;
  background-color: #F0C808;
  color: black;
  
}
.container-fluid h1 {
  font-size: 100px;
}

.container-fluid strong {
  color: white;
}
.container strong {
  color: black;
}

.social-links {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  
}

.container {
  width: 65%;
  background: white;
  padding: 10px 40px 10px 40px;
  margin-top: 5%;
  margin-bottom: 2%;

}

.im-centered {
  float: none;
  margin: 0 auto;
}

.subsection-title {
  text-align: center;
}

.contact {
  background: #F7F7F7;
  margin-top: 0px;
  padding-top: 0px;
}


h1 {
  font-family: 'Abril Fatface', san-serif;

}

h2
{
  font-family: 'Lato', sans-serif;
  color: black;
}

h5 {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
