body { 
  padding-top: 70px; 
  font-size: 16px;}


h2,h3,h4{
  display: inline;
  padding-right: 5%;
}

a, a:link, a:visited {
  color: #6d6d6d;
}
a:active, a:hover {
    color: hotpink;
}


#intro ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#intro li {
  font-size: 60%;
}

#about img{
   opacity: 0.8;
   filter: alpha(opacity=50);
}
.navbar {
  background:rgba(255,255,255,0.5);
  border: 0;
  text-align: right;
  padding-right: 20px;
  font-size: 200%;
  letter-spacing: 3px;
}

#intro {
  color: black;
  max-width: 45%;
  margin-left: 5%;
  padding-right: 5%;
  font-size: 260%;
 font-family: 'Raleway', sans-serif;
}

#bg {
  min-height: 85%;
  background: linear-gradient(to left, #c9c1c3 50%, #fff 50%);
  text-align: right;
}

#content {
  max-width: 80%;
font-family: 'Roboto', sans-serif;
padding-bottom: 5%;

}

#img-holder{
  padding-top: 5%;
}

#about {
  padding-top: 5%;
  margin-bottom: 5%;
  min-height: 100%;
}

#desc {
  padding-top: 5%;
  text-align: left;
  font-size: 140%;
}

.skills h3, #desc strong{
  color: #846f83;
}

.samples{
  margin-left: 5%;
  width: 90%;
}

.samples img {
  width: 80%;
  border-radius: 50%;
}

#test{
  background-color: #ede8ee;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 10%;
}
.writeup {
  padding-top: 2%;
  min-width: 55%;
}

#contact{
  padding-bottom: 2%;
}

